.theme-dark {
  --color-primary: #1b1b1b;
  --color-primary-accent-1: #2c2c2c;
  --color-primary-accent-2: #363636;
  --color-primary-accent-3: #474747;
  --color-primary-accent-4: #535353;
  --color-secondary: #0d7377;
  --color-secondary-accent-1: #0ec3b6;
  --color-complementary: #ffffff;
}

.theme-light {
  --color-primary: #dddddd;
  --color-primary-accent-1: #2c2c2c;
  --color-primary-accent-2: #363636;
  --color-primary-accent-3: #474747;
  --color-primary-accent-4: #535353;
  --color-secondary: #0d7377;
  --color-secondary-accent-1: #0ec3b6;
  --color-complementary: #ffffff;
}

* {
  font-family: "Open Sans", sans-serif, Arial, serif;
  box-sizing: border-box;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari /
     -webkit-user-select: none; / Safari /
      -khtml-user-select: none; / Konqueror HTML /
        -moz-user-select: none; / Old versions of Firefox /
         -ms-user-select: none; / Internet Explorer/Edge /
             user-select: none; / Non-prefixed version, currently
                                   supported by Chrome, Edge, Opera and Firefox */
}

.overflow {
  overflow: scroll;
  overflow-x: hidden;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.grid {
  display: grid;
  grid-gap: 2.5vw;
}
.grid .span-2 {
  grid-col: span 2;
}

.center {
  margin: auto;
}

.wrapper {
  padding: 16px;
}
.wrapper[padd="1px"] {
  padding: 1px;
}
.wrapper[padd="2px"] {
  padding: 2px;
}
.wrapper[padd="3px"] {
  padding: 3px;
}
.wrapper[padd="4px"] {
  padding: 4px;
}
.wrapper[padd="5px"] {
  padding: 5px;
}
.wrapper[padd="6px"] {
  padding: 6px;
}
.wrapper[padd="7px"] {
  padding: 7px;
}
.wrapper[padd="8px"] {
  padding: 8px;
}
.wrapper[padd="9px"] {
  padding: 9px;
}
.wrapper[padd="10px"] {
  padding: 10px;
}
.wrapper[padd="11px"] {
  padding: 11px;
}
.wrapper[padd="12px"] {
  padding: 12px;
}
.wrapper[padd="13px"] {
  padding: 13px;
}
.wrapper[padd="14px"] {
  padding: 14px;
}
.wrapper[padd="15px"] {
  padding: 15px;
}
.wrapper[padd="16px"] {
  padding: 16px;
}
.wrapper[padd="1vh"] {
  padding: 1vh;
}
.wrapper[padd="2vh"] {
  padding: 2vh;
}
.wrapper[padd="3vh"] {
  padding: 3vh;
}
.wrapper[padd="4vh"] {
  padding: 4vh;
}
.wrapper[padd="5vh"] {
  padding: 5vh;
}
.wrapper[padd="1vw"] {
  padding: 1vw;
}
.wrapper[padd="2vw"] {
  padding: 2vw;
}
.wrapper[padd="3vw"] {
  padding: 3vw;
}
.wrapper[padd="4vw"] {
  padding: 4vw;
}
.wrapper[padd="5vw"] {
  padding: 5vw;
}

.trennstrich {
  width: 85%;
  height: 1px;
  background-color: var(--color-complementary);
  margin: 0.5em auto;
}

a {
  text-decoration: none;
  color: var(--color-complementary);
}

/*Farbcontrolls*/
.color-secondary {
  background-color: var(--color-secondary);
}

/*Components*/
.ode-nav-button {
  min-width: fit-content;
  max-width: 100%;
  font-size: 1.5rem;
  background: var(--color-primary-accent-2);
  color: var(--color-complementary);
  text-decoration: none;
  padding: 0.4em;
  display: flex;
  place-items: center;
}
.ode-nav-button:hover {
  background-color: var(--color-primary-accent-1);
  transition: background-color 0.1s;
}
.ode-nav-button:active {
  background-color: var(--color-primary);
  transition: background-color 0.01s;
}
.ode-nav-button.router-link-exact-active {
  padding: 0.4em 0.4em 0.4em 0.1em;
  border-left: 0.3em solid var(--color-secondary-accent-1);
  background-color: var(--color-primary-accent-4);
}

.ode-box {
  color: var(--color-complementary);
  background: var(--color-primary-accent-2);
  border-radius: 10px;
  min-height: fit-content;
  max-height: 100%;
}
.ode-box > h1 {
  background-color: var(--color-secondary-accent-1);
  border-bottom: 4px solid var(--color-secondary);
  box-shadow: 0 4px 1px var(--color-primary-accent-1);
  padding: 10px;
  margin: auto;
  text-align: center;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
.ode-box div p {
  font-size: 1.4em;
}

.ladeleiste {
  background-color: var(--color-primary-accent-4);
  height: fit-content;
  border-radius: 50px;
  padding: 8px;
  margin: 16px 0;
}
.ladeleiste div {
  border-radius: inherit;
  background-color: var(--color-secondary);
  justify-content: space-between;
  padding: 2px 10px;
}

/*Elements*/
button, .button {
  position: relative;
  font-size: 2em;
  background-color: #00000000;
  color: var(--color-complementary);
  padding: 0.4em;
  border: 5px solid var(--color-secondary);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  /*border: 4px solid var(--color-accent-s1);*/
}
button:hover, .button:hover {
  position: relative;
  background-color: var(--color-secondary);
  color: #ffffff;
  transform: scale(1);
}
button.raised, .button.raised {
  box-shadow: 0 6px 0 0 var(--color-secondary);
  top: -3px;
}
button.raised:hover, .button.raised:hover {
  top: 0;
  background-color: var(--color-complementary);
  box-shadow: 0 3px var(--color-secondary);
  transform: scale(1);
}
button.raised:active, .button.raised:active {
  position: relative;
  top: 3px;
  background-color: var(--color-secondary-accent-1);
  box-shadow: none;
  transform: scale(1);
}
button i, .button i {
  font-size: 0.9em;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch {
  --line: #505162;
  --dot: #F7F8FF;
  --circle: #9EA0BE;
  --duration: .3s;
  --text: #9EA0BE;
  cursor: pointer;
  left: 25%;
}
.switch input {
  display: none;
}
.switch input + div {
  position: relative;
}
.switch input + div:before, .switch input + div:after {
  --s: 1;
  content: "";
  position: absolute;
  height: 4px;
  top: 5px;
  width: 12px;
  background: var(--line);
  transform: scaleX(var(--s));
  transition: transform var(--duration) ease;
}
.switch input + div:before {
  --s: 0;
  left: 0;
  transform-origin: 0 50%;
  border-radius: 2px 0 0 2px;
}
.switch input + div:after {
  left: 14px;
  transform-origin: 100% 50%;
  border-radius: 0 2px 2px 0;
}
.switch input + div span {
  padding-left: 56px;
  line-height: 24px;
  color: var(--text);
}
.switch input + div span:before {
  --x: 0;
  --b: var(--circle);
  --s: 4px;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 var(--s) var(--b);
  transform: translateX(var(--x));
  transition: box-shadow var(--duration) ease, transform var(--duration) ease;
}
.switch input + div span:not(:empty) {
  padding-left: 64px;
}
.switch input:checked + div:before {
  --s: 1;
}
.switch input:checked + div:after {
  --s: 0;
}
.switch input:checked + div span:before {
  --x: 14px;
  --s: 12px;
  --b: var(--dot);
}

/*# sourceMappingURL=main.css.map */
